<h1><%= link_to_unless_current resource.title, resource %></h1>
<div class='subtitle'>
  <div class='desc'>
    <%= resource.description %>
    <%= render_plugin_partial(:after_article_description, :locals => {:article => resource}) %>
  </div>
  <div class='date'>
    posted <%= show_time_ago resource.created_at %>
  </div>
</div>
<%= Governor::Formatters.format_article resource %>
