<%= error_messages_for resource_sym %>

<%= form_for resource do |f| %>
  <p>
    <b><%= f.label :title %></b><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <b><%= f.label :description %></b><br>
    <%= f.text_field :description %>
  </p>

  <p id="article_text">
    <b><%= f.label :post %></b><br>
    <%= f.text_area :post %>
  </p>
  
  <p>
    <b><%= f.label :format %></b> <%= f.select :format, Governor::Formatters.available_formatters.keys %>
  </p>
  
  <%= render_plugin_partial('bottom_of_form', :locals => {:f => f}) %>
  
  <p>
    <%= f.submit "#{controller.action_name.titleize} Article" %>
  </p>
<% end %>
